app/Config/core.php
app/Config/database.php
app/Config/settings.php
app/tmp
/lib/Cake/Console/Templates/skel/tmp/
.DS_Store
tags
*.orig
.swp
.swo

app/webroot/img/nail
app/webroot/img/orig/
app/webroot/img/salon/*
app/webroot/img/user/profile/
app/webroot/img/user/review/

.vagrant
chef-repo
